<launch>

  <node name="speed_manager" pkg="mission_control" type="speed_manager" output="screen" respawn="true">      
      <param name="max_rotation"  value="0.6"/>     
      <param name="max_speed"  value="0.8"/>
      <param name="vehicle_radius"  value="0.4"/>
      <param name="lookahead_time"  value="2"/>   
      <param name="log_gap_sec"  value="0"/> 
      <param name="safe_zone"  value="5"/> 
      <param name="force_constant_x"  value="1"/> 
      <param name="force_constant_y"  value="1"/> 

      <param name="max_height"  value="1"/>
      <param name="min_height"  value="-0.2"/>
      <param name="max_range"  value="8"/>
      <param name="min_range"  value="0.2"/>
  </node>

  <node name="navi_manager" pkg="mission_control" type="navi_manager" output="screen" respawn="true">      
      <param name="use_sim"  value="false"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick" respawn="true">
      <param name="dev" value="/dev/input/js0" />
  </node>


  <node name="autolabor_driver" pkg="autolabor_pro1_driver" type="autolabor_pro1_driver" output="screen">
      <param name="port_name" value="/dev/ttyUSB0" />
      <param name="odom_frame" value="odom" />
      <param name="base_frame" value="base_link" />

      <param name="baud_rate" value="115200" />
      <param name="control_rate" value="10" />
      <param name="sensor_rate" value="5" />

      <param name="reduction_ratio" value="1.0" />
      <param name="encoder_resolution" value="1600.0" />

      <param name="wheel_diameter" value="0.25" />
      <param name="model_param" value="0.83" />
      <param name="pid_rate" value="50.0" />
      <param name="maximum_encoding" value="32.0" />
  </node>

  <arg name="model" />
  <arg name="gui" default="false" />

  <param name="robot_description" textfile="$(find autolabor_description)/urdf/autolabor_pro1.urdf" />
  <param name="use_gui" value="$(arg gui)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="rslidar" args="0.1 0 0.7 0 0 0 /base_link /rslidar 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_laser" args="0.1 0 0.7 0 0 0 /base_link /base_laser 100" />

</launch>