<launch>
  <node pkg="joy" type="joy_node" name="joystick" respawn="true">
      <param name="dev" value="/dev/input/js0" />
  </node>

  <arg name="model" />
  <arg name="gui" default="false" />

  <param name="robot_description" textfile="$(find param)/urdf/autolabor_pro1.urdf" />
  <param name="use_gui" value="$(arg gui)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="localiztion" args="0 0 0 0 0 0 /map /odom 100" />

  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find param)/config/nav_test.rviz" />

</launch>