<launch>

  <node pkg="map_server" type="map_server" name="map_server_nav" args="$(find param)/map/map_nav.yaml">
    <remap from="map" to="nav_map"/>
  </node>

<!--   <node pkg="map_server" type="map_server" name="map_server_vis" args="$(find param)/map/map_vis.yaml">
    <remap from="map" to="vis_map"/>
  </node> -->

<!--   <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="$(find param)/map/withimu_11_30_02aft.pcd 0.1">
    <param name="frame_id" value = "/map" />
  </node> -->
  

<!--launch move_base-->
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_link"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="odom" />
  <arg name="laser_topic" default="scan" />
  <arg name="map_topic" default="nav_map" />

  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <rosparam file="$(find param)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find param)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find param)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find param)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find param)/config/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find param)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find param)/config/global_planner_params.yaml" command="load" />

 
    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/> 
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

    <param name="base_global_planner" value = "global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value = "teb_local_planner/TebLocalPlannerROS"/> 
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
    <remap from="map" to="$(arg map_topic)"/>

  </node>
  
 </launch>
