<launch>

<node pkg="map_server" type="map_server" name="map_server_1" args="$(find param)/map/1.yaml">
<remap from="map" to="map_1"/>
</node>

<node pkg="map_server" type="map_server" name="map_server_2" args="$(find param)/map/2.yaml">
<remap from="map" to="map_2"/>
</node>


<node pkg="map_server" type="map_server" name="map_server_3" args="$(find param)/map/3.yaml">
<remap from="map" to="map_3"/>
</node>

<!-- <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="$(find param)/map/2.pcd 0.1">
</node>

<node pkg="tf" type="static_transform_publisher" name="pcdmap" args="0 0 0 0 0 0 /base_link /map 100" /> -->


</launch>