<launch>

  <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="RS16"/>
    <!--param name="pcap" value="path_to_pcap"/-->
    <param name="device_ip" value="192.168.1.200"/>
    <!-- Set the Lidar data port on the PC side, default is 6699 -->
    <param name="port" value="6699"/>
  </node>

  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="model" value="RS16"/>
    <param name="curves_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/curves.csv" />
    <param name="angle_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/ChannelNum.csv" />
  </node>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

    <remap from="cloud_in" to="/rslidar_points"/>
    <rosparam>
        target_frame: rslidar # Leave disabled to output scan in pointcloud frame
        transform_tolerance: 0.01
        min_height: -0.2
        max_height: 1

        angle_min: -3.1415926 # -M_PI/2
        angle_max: 3.1415926 # M_PI/2
        angle_increment: 0.00330 # M_PI/360.0
        scan_time: 0.1
        range_min: 0.2
        range_max: 8
        use_inf: true
        inf_epsilon: 1.0

        # Concurrency level, affects number of pointclouds queued for processing and number of threads used
        # 0 : Detect number of cores
        # 1 : Single threaded
        # 2->inf : Parallelism level
        concurrency_level: 1
    </rosparam>
  </node>

  <node name="rviz_nav" pkg="rviz" type="rviz"  args="-d $(find param)/config/nav_test.rviz" />


  <node name="autolabor_driver" pkg="autolabor_pro1_driver" type="autolabor_pro1_driver" output="screen">
      <param name="port_name" value="/dev/ttyUSB0" />
      <param name="odom_frame" value="odom" />
      <param name="base_frame" value="base_link" />

      <param name="baud_rate" value="115200" />
      <param name="control_rate" value="10" />
      <param name="sensor_rate" value="5" />

      <param name="reduction_ratio" value="1.0" />
      <param name="encoder_resolution" value="1600.0" />

      <param name="wheel_diameter" value="0.25" />
      <param name="model_param" value="0.83" />
      <param name="pid_rate" value="50.0" />
      <param name="maximum_encoding" value="32.0" />
  </node>

  <arg name="model" />
  <arg name="gui" default="false" />

  <param name="robot_description" textfile="$(find autolabor_description)/urdf/autolabor_pro1.urdf" />
  <param name="use_gui" value="$(arg gui)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="rslidar" args="0.1 0 0.7 0 0 0 /base_link /rslidar 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_laser" args="0.1 0 0.7 0 0 0 /base_link /base_laser 100" />

  

</launch>
