<launch>
  
  <node name="speed_manager" pkg="mission_control" type="speed_manager" output="screen" respawn="true">
    <rosparam>
      max_rotation: 0.6
      max_speed: 0.8
      vehicle_radius: 0.4
      lookahead_time: 3
      safe_zone: 5
      force_constant_x: 0.2
      force_constant_y: 0.02

      max_height: 2
      min_height: 0.5
      max_range: 8
      min_range: 0.2
      oscillation: 0.1

      one_hand: false

      goal_a: [643.462646,-30.777496]
      goal_b: [2288.519775,514.973816]
      goal_x: [-23.512510,-35.236523]
      goal_y: [11.995888,11.043774]
    </rosparam>  
    
  </node>

  <node name="navi_manager" pkg="mission_control" type="navi_manager" output="screen" respawn="true">    
    <rosparam>
      use_sim: true
      speed_scale: 0.3
      rotation_scale: 0.5
      lookahead_distance: 3
    </rosparam>
      <param name="junction_file"  value="$(find param)/map/junction.txt"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick" respawn="true">
      <param name="dev" value="/dev/input/js0" />
  </node>

  <node pkg="map_server" type="map_server" name="map_server_nav" args="$(find param)/map/1.yaml" output="screen">
    <remap from="map" to="nav_map"/>
    <param name="map_folder"  value="$(find param)/map/"/>
  </node>

  <node name="map_manager" pkg="map_manager" type="map_manager" output="screen" respawn="true">    
      <param name="map_folder"  value="$(find param)/map/"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="localiztion" args="0 0 0 0 0 0 /map /odom 100" />

</launch>