<launch>
  
  <node name="speed_manager" pkg="mission_control" type="speed_manager" output="screen" respawn="true">      
      <param name="max_rotation"  value="0.6"/>     
      <param name="max_speed"  value="0.8"/>
      <param name="vehicle_radius"  value="0.4"/>
      <param name="lookahead_time"  value="2"/>   
      <param name="log_gap_sec"  value="0"/> 
      <param name="safe_zone"  value="5"/> 
      <param name="force_constant_x"  value="1"/> 
      <param name="force_constant_y"  value="1"/> 

      <param name="max_height"  value="1"/>
      <param name="min_height"  value="-0.2"/>
      <param name="max_range"  value="8"/>
      <param name="min_range"  value="0.2"/>
  </node>

  <node name="navi_manager" pkg="mission_control" type="navi_manager" output="screen" respawn="true">    
      <param name="use_sim"  value="true"/>
  </node>

  
</launch>