<launch>
  
  <node name="speed_manager" pkg="mission_control" type="speed_manager" output="screen" respawn="true">      
      <param name="max_rotation"  value="0.6"/>     
      <param name="max_speed"  value="0.8"/>
      <param name="vehicle_radius"  value="0.4"/>
      <param name="lookahead_time"  value="2"/>   
      <param name="log_gap_sec"  value="0"/> 
      <param name="safe_zone"  value="5"/> 
      <param name="force_constant_x"  value="1"/> 
      <param name="force_constant_y"  value="1"/> 

      <param name="max_height"  value="1"/>
      <param name="min_height"  value="-0.2"/>
      <param name="max_range"  value="8"/>
      <param name="min_range"  value="0.2"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick" respawn="true">
      <param name="dev" value="/dev/input/js0" />
  </node>


  <arg name="model" />
  <arg name="gui" default="false" />

  <param name="robot_description" textfile="$(find param)/urdf/autolabor_pro1.urdf" />
  <param name="use_gui" value="$(arg gui)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="localiztion" args="0 0 0 0 0 0 /map /odom 100" />

  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find param)/config/nav_test.rviz" />


  <node pkg="map_server" type="map_server" name="map_server" args="$(find param)/map/test1final.yaml">
  <remap from="map" to="nav_map"/>
  </node>

  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="$(find param)/map/test1final.pcd 0.1">
    <param name="frame_id" value = "/map" />
  </node>

  
</launch>