<?xml version="1.0"?>
<launch>
	<param name="robot_id" type="string" value="robot_41"/>
  <param name="community_id" type="string" value="4"/>

  <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
  <node pkg="mqtt_ros" type="mqtt_ros_node" name="mqtt_ros_node" output="screen"/>
</launch>
