<?xml version="1.0"?>
<launch>
  <param name="robot_id" type="string" value="robot_13"/>
  <param name="community_id" type="string" value="2"/>
  <param name="map_number" type="int" value="2"/>

  <param name="initX" type="double" value="88.158" />
  <param name="initY" type="double" value="-119.117" />
  <param name="initYaw" type="double" value="-1.57" />

  <node pkg="map_server" type="map_server" name="map_server_node_sim" args="$(find config)/map/2.yaml" output="screen">
  </node>

  <node pkg="map_server" type="map_server" name="map_server_node_show" args="$(find config)/map/show.yaml" output="screen">
    <remap from="map" to="map_show"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz_navi_sim" output="screen" args="-d $(find config)/cfg/rviz_config_2.rviz" />

  <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node">
     <param name="config_folder" type="string" value="$(find config)" />
  </node>
  <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
  <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
  <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  <node pkg="mqtt_ros" type="mqtt_ros_node" name="mqtt_ros_node" output="screen"/>


  <node pkg="tf" type="static_transform_publisher" name="fake_local_map_odom_sim" args="0 0 0 1.57 0 0 /map /odom 100" />
</launch>