<?xml version="1.0"?>
<launch>
  <node pkg="joy" type="joy_node" name="joystick"/> 

  <group ns="robot_1">
    <param name="robot_id" type="string" value="robot_1"/>
    <param name="initX" type="double" value="-38.697" />
    <param name="initY" type="double" value="61.708" />
    <param name="initYaw" type="double" value="-1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>

  <group ns="robot_2">
    <param name="robot_id" type="string" value="robot_2"/>
    <param name="initX" type="double" value="12.198" />
    <param name="initY" type="double" value="63.391" />
    <param name="initYaw" type="double" value="1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>


  <group ns="robot_3">
    <param name="robot_id" type="string" value="robot_3"/>
    <param name="initX" type="double" value="202.764" />
    <param name="initY" type="double" value="197.761" />
    <param name="initYaw" type="double" value="1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>

   <group ns="robot_4">
    <param name="robot_id" type="string" value="robot_4"/>
    <param name="initX" type="double" value="32.021" />
    <param name="initY" type="double" value="182.593" />
    <param name="initYaw" type="double" value="1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>

    <group ns="robot_5">
    <param name="robot_id" type="string" value="robot_5"/>
    <param name="initX" type="double" value="-219.382" />
    <param name="initY" type="double" value="169.974" />
    <param name="initYaw" type="double" value="1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>


   <group ns="robot_6">
    <param name="robot_id" type="string" value="robot_6"/>
    <param name="initX" type="double" value="-38.697" />
    <param name="initY" type="double" value="61.708" />
    <param name="initYaw" type="double" value="-1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>

  <group ns="robot_7">
    <param name="robot_id" type="string" value="robot_7"/>
    <param name="initX" type="double" value="12.198" />
    <param name="initY" type="double" value="63.391" />
    <param name="initYaw" type="double" value="1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>

  <group ns="robot_8">
    <param name="robot_id" type="string" value="robot_8"/>
    <param name="initX" type="double" value="202.764" />
    <param name="initY" type="double" value="197.761" />
    <param name="initYaw" type="double" value="1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>
<!--
  <group ns="robot_9">
    <param name="robot_id" type="string" value="robot_9"/>
    <param name="initX" type="double" value="32.021" />
    <param name="initY" type="double" value="182.593" />
    <param name="initYaw" type="double" value="1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>

    <group ns="robot_10">
    <param name="robot_id" type="string" value="robot_10"/>
    <param name="initX" type="double" value="-219.382" />
    <param name="initY" type="double" value="169.974" />
    <param name="initYaw" type="double" value="1.57" />
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen"  cwd="node"/>
    <node pkg="obstacle_manager" type="obstacle_manager_node" name="obstacle_manager_node" output="screen"  cwd="node"/>
    <node pkg="message_manager" type="message_manager_node" name="message_manager_node" output="screen"/>
    <node pkg="rviz_manager" type="rviz_manager_node" name="rviz_manager_node" output="screen"/>
  </group>

 -->


  <node pkg="map_server" type="map_server" name="map_server_node_1" args="$(find config)/map/1.yaml" output="screen">
  </node>

  <node pkg="rviz" type="rviz" name="rviz_navi" output="screen" args="-d $(find config)/cfg/rviz_config.rviz" />

  <node pkg="tf" type="static_transform_publisher" name="fake_local_map_odom" args="0 0 0 1.57 0 0 /map /odom 100" />

</launch>